.chatScreenContainer {
    flex: 0.5;
}

.chatScreen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    color: white;
}

@media (max-width: 768px) {

    .chatScreenContainer {
        flex: 1
    }

    .chatScreen{
        width: 100%;
    }
}
