.chatScreenContainer {
    flex: 0.5;
    height: 100%;
}

.chatScreen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    color: white;
}

.chatScreen__empty {
    height: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.chatScreen__empty a {
    margin-left: 14px;
}

@media (max-width: 768px) {

    .chatScreenContainer {
        flex: 1
    }

    .chatScreen{
        width: 100%;
    }

    .chatScreen__empty {
        font-size: 14px !important;
    }
}
