.profile__nameField__group {
  margin-top: 15px;
}


.profile__nameField {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  outline: none;
}

.profile__nameField--submit {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin-top: 25px;
  cursor: pointer;
}