.friends{
    max-height: 40%;
    overflow-y: scroll;
}


.friends__header {
    padding-left: 20px;
    border-bottom: 1px solid lightgray;
}


.friend__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

.friend__item:hover {
    background-color: white;
}


.friend__name {
    width: max-content;
    margin-left: 10px;
    color: black;
}

.friend__avatar{
    width: 25px !important;
    height: 25px !important;
}

.friends > a {
    text-decoration: none;
}


@media (max-width: 768px) {
    /* .friends--smallScreen {
        display: none !important;
    } */

    .friends {
        max-height: 50vh !important;
    }

    .friend__item {
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .friends__header {
        border-top: 1px solid lightgray;
    }
}