.recentChats {
    width: 100%;
    margin: 20px 0;
    max-height: 40%;
    overflow-y: scroll;
}

.recentChats__header {
    padding-left: 20px;
    border-bottom: 1px solid lightgray;
}


.recentChats__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

.recentChats__item:hover {
    background-color: white;
}


.recentChats__name {
    width: max-content;
    margin-left: 10px;
    color: black;
}

.recentChats__avatar{
    width: 25px !important;
    height: 25px !important;
}

.recentChats > a {
    text-decoration: none;
}


@media (max-width: 768px) {
    .recentChats {
        max-height: 50vh !important;
    }

    .recentChats__item {
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .recentChats__header {
        border-top: 1px solid lightgray;
        margin-bottom: 15px;
    }

    .recentChats__avatar{
        width: 20px !important;
        height: 20px !important;
    }
}