.sidebar__container {
    height: 100%;
    flex: 0.25;
}

.sidebar {
    height: 100%;
    width: 95%;
    max-width: 450px;
    box-sizing: border-box;
    background-color: #efefef;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar__search {
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 5px;
}


.sidebar__searchInput {
    box-sizing: border-box;
    width: 95%;
    height: 35px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    padding-left: 35px;
    padding-right: 10px;
}



.sidebar__searchIcon {
    position: absolute !important;
    left: 10px;
    top: 5px;
    color: gray !important;
}


.sidebar__searchInput:focus {
    border-bottom: 1px solid var(--themeColor);
}


.sidebar__searchInput:focus ~ .sidebar__searchIcon {
    color: var(--themeColor) !important;
}


.sidebar h4 {
    font-weight: 500;
}


.sidebar__logout {
    width: 100%;
    height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border: none;
    border-top: 1px solid lightgray;
    font-weight: 500;
    cursor: pointer;
    display: none;
}

.sidebar__community {
    display: none !important;
}


@media (max-width: 768px) {

    .sidebar__container {
        position: absolute;
        z-index: 100;
        top: 0;
        left:0;
        width: 100%;
        margin-left: -100%;
    }

    .sidebar {
        width: 100%;
        max-width: 100%;
        overflow-y: scroll;
        box-shadow: none;
    }

    .sidebar h2 {
        font-size: 16px !important;
    }

    .sidebar__logout {
        display: block;
    }

    .sidebar__logout:active {
        background-color: white;
    }

    .sidebar__community {
        display: block !important;
    }

    .sidebar__container--hide {
        width: 100%;
        /* animation: width 0.5s; */
        margin-left: 0;
        animation: margin-left 0.5s;
    }

    @keyframes margin-left {
        0%   { margin-left:-110% }
        100% { margin-left: 0 }
    }
}
